@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'reset';
@import 'mixins';

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*fonts*/
$sansFamily: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$headingFamily: 'Bebas Neue', Helvetica, Arial, sans-serif;

/*colors*/
$white: #fff;
$black: #111;
$darkGray: #222;
$gray: #444;
$lightGray: #ccc;
$blue: #6ec5ff;
$indigo: #5ea5ff;

body {
  font-family: $sansFamily;
  margin: 0;
  color: $gray;
  font-size: 1.2em;
  min-width: 275px;
}

a {
  color: $indigo;
  text-decoration: none;

  &:hover { text-decoration: underline }
}

h1, h2, h3, h4, h5, h6 {
  color: $darkGray;
  font-family: $headingFamily;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 0.8em;
  margin: 0.4em 0;

  a {
    color: inherit;

    &:hover { text-decoration: none; }
  }
}

.project {
  @include span-columns(6);
}

h1 { font-size: 4em; }
h2 { font-size: 3.5em; }
h3 { font-size: 3em; }
h4 { font-size: 2.5em; }
h5 { font-size: 2em; }

h1.hero {
  font-size: 6.5em;
  margin: 0.3em 0 0.1em;
}

.wrapper {
  padding: 20px;
}

.container {
  @include outer-container;
  max-width: 780px;
  position: relative;
}

header {
  a {
    color: inherit;
    &:hover { text-decoration: none; }
  }

  nav {
    ul {
      font-size: 16px;
      @include clearfix;
      list-style: none;
      padding: 0;
      maring: 0 0 10px;
    }

    li {
      float: left;
      a { padding-right: 20px; }
    }
  }
  .avatar {
    height: 58px;
    width: 58px;
    border: 2px solid $black;
    float: left;
    margin-left: 10px;
    img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: em(327)) {
      display: none;
    }
  }

  .github {
    @media (min-width: em(1000)) {
      display: block;
    }
  }

  .logo { font-style: italic; }
  .profile {
    float: right;
    height: 58px;
    max-width: 84px;
    margin-top: 14px;
  }
  .social {
    width: 16px;
    float: left;

    img {
      display: block;
      marign: 9px 0;
    }
  }
  .subnav {
    a {
      padding-right: 0;
      padding-left: 20px;
    }
  }

  .nav-selection {
    position: absolute;
    height: 10px;
    background-color: $blue;

    .about {
      width: 44px;
      left: 49px;
    }

    .blog {
      width: 33px;
      left: 0;
    }

    .projects {
      width: 60px;
      left: 107px;
    }
  }

  .subnav-selection {
    position: absolute;
    height: 10px;
    background-color: $black;
    width: 50px;

    .exemplar-home {
      right: 140px;
      width: 42px;
    }

    .exemplar-docs {
      right: 87px;
      width: 35px;
    }

    .download {
      right: 0;
      width: 69px;
    }
  }
}

footer {
  margin-top: 30px;
  ul {
    padding: 0;
  }
  nav {
    border-width: 10px 0;
    border-style: solid;
    border-color: $black;
    padding-top: 20px;

    ul li {
      @include span-columns(3);
      @include media(max-width 40em) {
        @include span-columns(12);
        margin-bottom: 10px;
        &:nth-child(2n) {
          @include omega;
        }
      }
    }
  }
}

ul, ol {
  line-height: 1.5em;
  padding-left: 20px;
  font-size: 1em;
}

ul {
  list-style: square;
}

.post {
  border-top: 1px solid $darkGray;
  margin-bottom: 5em;

  &:first-child, .no-border {
    border-top: none;
  }
}
