<!DOCTYPE html>
<html lang="{{ metadata.language}}">
    {% include 'head.njk' %}
<body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>

    {% include 'header.njk' %}
    <main id="skip">
        {{ content | safe }}
    </main>
</body>
<footer></footer>
<!-- Current page: {{ page.url | htmlBaseUrl }} -->
</html>