---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a <strong>Chief Information Officer</strong> and Director of Informatics,
    Cultural Networks, and Knowledge Systems, I'm passionate about harnessing the
    power of technology to bridge cultural divides and facilitate meaningful connections
    between people. With a unique blend of technical expertise and cultural curiosity,
    I help organizations turn data into actionable intelligence that informs decision
    making and drives positive change. My strength lies in my ability to navigate
    multiple roles across projects, from IT strategy and enterprise architecture
    development to technical solution development and system implementation. Whether
    working with diverse stakeholders or designing innovative solutions, I'm committed
    to using effective leadership, creative problem-solving, and cutting-edge technologies
    to drive results and foster a more connected world.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="College of William and Mary"
      subtitle="1999 to 2001 at Harrison Ruffin Tyler Department of History, Williamsburg, VA"
    />
    <TimeLineElement
      title="Virginia Military Institute"
      subtitle="1995 to 1999 Lexington, VA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Appointments</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Chief Information Officer and Director of Informatics, Cultural Networks, and Knowledge Systems"
      subtitle="From 2015 to Present at Council on Library and Information Resources"
    >
      Responsible for developing, integrating, and overseeing all technical
      aspects of the organization including vision, strategy, delivery,
      operations, and sustainability; work with executive management and CLIR
      stakeholders to help grow the organization through the use of technology
      resources; plan, direct, and monitor operations to improve program
      execution and outreach; promote increased efficiencies through automation;
      assure appropriate utilization of resources; serve as a technical advisor
      for grant proposals and funded grants; ensure technologies are used
      efficiently and securely; evaluate and implement new infrastructures;
      conduct research and case studies on leading-edge technologies.
    </TimeLineElement>
    <TimeLineElement
      title="Head, Research and Development"
      subtitle="From 2009 to 2018 at University of Virginia Libraries, Charlottesville, VA"
    >
      Provided vision and direction for the investigation, development, and
      expansion for the department's research and development initiatives;
      identified resources and services to support and enhance the field of
      digital humanities at the University of Virginia; coordinated closely with
      library computing staff, University information technology, and university
      faculty to ensure Digital Humanities projects are deployed in a sensible,
      and sustainable manner; developed proof-of-concept software to demonstrate
      the feasibility of the technology and approaches; lead and executed
      software design, development, prototyping, and testing activities; lead
      problem resolution related to system design and implementation; mentored,
      trained, and advised department, graduate students, and faculty members.
    </TimeLineElement>
    <TimeLineElement
      title="Coordinator of Emerging Technology and Digital Libraries"
      subtitle="From 2001 to 2009 at College of William and Mary, Williamsburg, VA"
    >
      Developed essential strategic, sustainability, and project plans including
      collection strategy, information architecture, service, and functional
      requirements, rights management, and standards frameworks; managed the
      library's server infrastructure including website, search, database,
      proxy, print, file, storage, and backup servers.
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant"
      subtitle="From 1999 to 2001 at Colonial Williamsburg Foundation, Williamsburg, VA"
    >
      TEI SGML and XML encoding, database development, web development for
      pastportal.com, DSSSL transformations. Developed and maintained database
      back end for Pastportal.com project that worked to digitize the
      manuscript, research reports, and rare book collections of the Colonial
      Williamsburg Foundation. Managed the production of the foundation's
      nascent digital imaging department and its associated metadata for digital
      preservation of primary documents. Worked with vendors to transcribe
      original content into machine-readable text.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      Selected Publications and Presentations
    </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Graham, Wayne. "An Introduction." Fiesole Retreat, Capetown, South Africa, May 2024.
    </li>
    <li>
      Graham, Wayne. "Our Shared Cultural History: A CLIR Approach." Keynote at
      the Standing Conference of Eastern, Central and Southern Africa Library
      and Information Associations (SCECSAL), Gauteng, South Africa, October
      2022.
    </li>
    <li>
      Graham, Wayne. "Digital Library of the Middle East: The Strength,
      Capacity, and Promise of Digital Libraries," Conférence Internationale de
      Lausanne, Lausanne, Switzerland, December 2019.
    </li>
    <li>
      France, Fenella, Wayne Graham, Charles Henry, Elliot Shore. "Interoperable
      Platforms and CLIR Initiatives: A Global Perspective." Roundtable
      Discussion, IIIF Conference, Göttingen, Germany, June 2019.
    </li>
    <li>
      Nowviskie, Bethany and Wayne Graham "Seeing Swinburne: Toward a Mobile &
      Augmented-Reality Edition of Poems and Ballads, 1866" in Seeing the Path:
      Augmented Reality and Computer Vision in History. Ed. Kevin Kee.
    </li>
    <li>
      Nowviskie, Bethany, Eric Rochester, Wayne Graham, Jeremy Boggs, David
      McClure, and Scott Bailey. "Speaking in Code." Poster presented at Digital
      Humanities 2014, Lausanne, Switzerland, July 2014.
    </li>
    <li>
      Boggs, Jeremy, Amy Earheart, Wayne Graham, T. Mills Kelly, David McClure,
      Shawn Moore, and Eric Rochester. "Circular Development: Neatline and the
      User/Development Feedback Loop." Conference Panel presented at Digital
      Humanities 2013, University of Nebraska, July 2013.
    </li>
    <li>
      Graham, Wayne. Beginning Facebook Game Apps Development. Berkeley: APress,
      2012.
    </li>
    <li>
      Graham, Wayne, and Bethany Nowviskie. "Historic Interpretation,
      Preservation, and Augmented Reality in Falmouth Jamaica." Digital
      Humanities Conference, Stanford University, 2011.
      <a target="_blank" href="http://dh2011abstracts.stanford.edu/xtf/view?docId=tei/abI201.xml">http://dh2011abstracts.stanford.edu/xtf/view?docId=tei/abI201.xml</a>
    </li>
    <li>
      Whitley, Edward, Elizabeth Lorang, Kenneth M. Price, Bethany Nowviskie,
      Matthew Wilkens, Wayne Graham, and Jo Guldi. "Digital Texts and the
      Spatial Turn." Society for Textual Scholarship, University Park, PA, 2011.
    </li>
    <li>
      Gilbert, Joseph, Wayne Graham, and Eric Johnson. "Practitioner's Art: the
      Masters Degree in Humanities." In #alt-academy, 2011.
      <a target="_blank" href="http://mediacommons.futureofthebook.org/alt-ac/pieces/practitioners-art-masters-degree-humanities">http://mediacommons.futureofthebook.org/alt-ac/pieces/practitioners-art-masters-degree-humanities</a>.
    </li>
    <li>
      Graham, Wayne. "GIS Infrastructure to Support Historical Map Data."
      Digital Library Forum, Palo Alto, CA, 2010.
    </li>
    <li>
      Graham, Wayne. "A New Spatial Analysis of the Early Chesapeake
      Architecture." Digital Humanities Conference Poster, London, 2010.
    </li>
    <li>
      Graham, Wayne, and Joseph Gilbert. "Project Blacklight and the UVa
      Geospatial Data Portal : Owning Your Research Infrastructure." American
      Historical Association Annual Meeting, Washington D.C, 2010.
    </li>
    <li>
      Graham, Wayne. "The Facebook API: Thinking About UI in a Social Way."
      EdUi, Charlottesville, VA, 2009.
    </li>
    <li>
      Graham, Wayne. "Reaching Users Through Facebook: A Guide to Implementing
      Facebook Athenaeum." Code4Lib Journal: December, 2008.
      <a href="https://journal.code4lib.org/articles/490">https://journal.code4lib.org/articles/490</a>.
    </li>
    <li>
      Bergstone, David, Jeff Klee, Wayne Graham, Rachel Miller, and Jeff Cohen.
      "Bridging the Digital Divide". Vernacular Architecture Forum, Fresno, CA,
      2008.
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Ruby (and Rails)</li>
    <li>Python</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>C/C++</li>
    <li>Java</li>
    <li>PostgreSQL</li>
    <li>MySQL</li>
    <li>MSSQL</li>
    <li>Oracle</li>
    <li>Redis</li>
    <li>CouchDB</li>
    <li>Snowflake</li>
    <li>Linux (Ubuntu/RedHat)</li>
    <li>MacOS</li>
    <li>Windows</li>
    <li>Tableau</li>
    <li>D3.js</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
    <li>scikit-learn</li>
    <li>NLTK</li>
    <li>R</li>
    <li>Excel</li>
    <li>Data storytelling and presentation</li>
    <li>Cross-cultural communcation and collaboration</li>
    <li>Community engagement and outreach</li>
    <li>Program Management and fundraising</li>
    <li>Strategic planning and execution</li>
    <li>Project Management</li>
    <li>Team Leadership and management</li>
    <li>Problem-solving and conflict resolution</li>
  </ul>
</BaseLayout>
